{% extends "app/base.html" %}

{% block header %}
    {% if user.is_authenticated %}
    <form action="{% url 'app:index'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">add question</button>
    </form>
    {% else %}
<p>Чтобы задать вопрос <a href="{% url 'users:register' %}">зарегистрируйтесь</a> или <a href="{% url 'users:login' %}">авторизуйтесь!</a></p>
    {% endif %}
{% endblock header %}

{% block content %}
    <ul class="list-group">
    {% for question in questions %}
        <li class = "list-group-item">
            <a href="{% url 'app:question' question.id %}" class="list-group-item">
                    {{ question }}
            </a>
            Vote:
            {% if user.is_authenticated %}
            <a href="{% url 'app:question_vote_up' question.id %}" class="glyphicon glyphicon-thumbs-up"></a>
            {% endif %}
            <span id="cnt">{{ question.votes }}</span>
            {% if user.is_authenticated %}
            <a href="{% url 'app:question_vote_down' question.id %}" class="glyphicon glyphicon-thumbs-down"></a>
            {% endif %}
            <span class = "badge">{{ question.owner }}</span>
        </li>
    {% empty %}
        <li>No questions.</li>
    {% endfor %}
    </ul>
{% endblock content %}