{% extends 'app/base.html' %}

{% block header %}
{% if user.is_authenticated %}
    <form action="{% url 'app:question' question.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">add answer</button>
    </form>
    {% else %}
        <p>Чтобы задать вопрос <a href="{% url 'users:register' %}">зарегистрируйтесь</a> или <a href="{% url 'users:login' %}">авторизуйтесь!</a></p>
    {% endif %}
{% endblock header %}

{% block content %}
<p>Question: {{ question }}</p>
<p>Answers: </p>
<ul>
    {% for answer in answers %}
        <li>
            <p>{{ answer.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ answer.text|linebreaks }}</p>
            <p>
                Vote:
                {% if user.is_authenticated %}
                    <a href="{% url 'app:answer_vote_up' answer.id %}" class="glyphicon glyphicon-thumbs-up"></a>
                {% endif %}
                <span id="cnt">{{ answer.rating }}</span>
                {% if user.is_authenticated %}
                    <a href="{% url 'app:answer_vote_down' answer.id %}" class="glyphicon glyphicon-thumbs-down"></a>
                {% endif %}
                <span class = "badge">{{ question.owner }}</span>
            </p>
        </li>
    {% empty %}
        <li>No answers yet.</li>
    {% endfor %}
</ul>
{% endblock content %}